body {
  margin: 0;
  padding: 5px 0 0 0;
  font-family: "Hiragino Kaku Gothic ProN"
}

.flex{
  display: flex;
}
.flex div {
}
a,a:visited{
  color: #0071d1;
}
a:hover {
  color: #d10071;
}
h1 {
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 10px;
  margin: 0 0 0 0;
}
h2 {
  font-size: 16px;
  padding-left: 5px;
  margin: 0 0 0 0;
}
.ll {
  width: 10px;
  height: 920px;
  border: 4px;
  z-index: 1;
  margin-left: 1px;
  background: #ffffff;
}
/* 丸みを与える */
.container {
  padding: 2px;
  /* border-radius: 5px; */
  /* border: 2px solid #333; */
}
.left-part {
  width: 25%;
  /* background: #ffeeaa; */
  padding: 0px 2px 2px 0px;
}
/* .middle-part {
  width: calc(100% - 50%);
  background: #9ddbfc;
  padding: 0px 2px 2px 2px;
} */
.right-part {
  width: calc(100% - 25%);
  /* background: #ffaaee; */
  padding: 0;
  margin: 0;
}
.right-upper-part {
  border-bottom: 2px solid #333;
}
.right-lower-part {

}

.ToDo {
  height: 500px;
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}
.Analytics {
  height: 370px;
  border-right: 2px solid #333;
}
.Cal {
  width: 60%;
  height: 550px;
  padding-bottom: 5px;
  border-right: 2px solid #333;
}
.WantToDo {
  width: 40%;
  height: 550px;
  margin-bottom: 5px;
}
.links{
  height: 320px;
}
.link-types {
}
.link-contents {
  width: 25%;
}
ul, ol {
  margin: 0;
  padding: 0;
  position: relative;
}

ul li, ol li {
  font-size: 16px;
  /* border-left: solid 8px blue; 左側の線 */
  background: whitesmoke;/*背景色*/
  margin: 0 6px 2px 6px;
  line-height: 1.1;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding-left: 4px;
  list-style-type: none!important;
}
img {
  margin-bottom: -2px;
}

#td {
  width: 119%;
  height: 88%;
  margin-left: -20%;
  z-index: 0;
}
#calendar {
  width: 99%;
  height: 95%;
}
#wtd {
  width: 99%;
  height: 95%;
}
